.details {
  padding-top: 4rem;
  display: flex;

  .name {
  
    width: 50%;
    
    text-align: center;
    color: blanchedalmond;

    padding: 4rem 3rem;
    font-size: 1.8rem;
  }
  .photo {
    
    width: 50%;
    height: 100%;
    padding: 2em 2em;
    img {
      height: 70%;
      width: 70%;
      border-radius: 50px 0px;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      padding: 10px;
      transition: transform 0.2s;
      
    }
    img:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5);
    }
  }
  
  .gmail {
    display: flex;
    flex-direction: column;

    width: 5%;
    left: 95%;
    position: fixed;

    color: white;
    //  background-color: red;

    align-items: center;
    justify-content: center;

    .vertical {
      border-left: 2px solid white;
      height: 290px;
      align-items: flex-start;
    }
    p {
      font-size: 1rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      
    }
  }
}
@media (max-width: 767px) {
  .details {
    .photo {
      display: none;
    }
    .name {
      width: 100%;
      font-size: 1.2rem;
      text-align: left ;
    }
    .icons {
      display: none;
    }
    .gmail {
      display: none;
    }
  }
}
