.details {
  padding-top: 4rem;
  display: flex;

  .name {
    // position: relative;
    width: 50%;
    // margin: 15%;
    text-align: center;
    color: blanchedalmond;
    // position: absolute;
    padding: 4rem 2rem;
    font-size: 2rem;
  }
  .photo {
    // position: relative;
    width: 50%;
    height: 100%;
    padding: 2em 2em;
    img {
      height: 70%;
      width: 70%;
      border-radius: 50px 0px;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      padding: 10px;
      transition: transform 0.2s;
      // box-shadow: 0 5px 5px white;
      
    }
    img:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5);
    }
  }
  .icons {
    width: 5%;
     height: 100%;
    position: fixed;
     padding: 0.3rem;
     display: flex;
     flex-direction: column;
     align-items: center;
    
     .vertical {
       border-left: 2px solid white;
       height: 390px;
       align-items: flex-start;
     }
    
      
      img {
        
padding: 0.3rem;
        height: 2rem;
        width: 2rem;
      
    }
  }
  .gmail {
    display: flex;
    flex-direction: column;

    width: 5%;
    left: 95%;
    position: fixed;

    color: white;
    //  background-color: red;

    align-items: center;
    justify-content: center;
     
    .vertical {
      border-left: 2px solid white;
      height: 290px;
      align-items: flex-start;
     
    }
    p {
      font-size: 1rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }
}
@media (max-width: 767px) {
  .details {
    .photo {
      display: none;
    }
    .name {
      width: 100%;
      font-size: 1.3rem;
    }
    .icons{
      display: none;
    }
    .gmail{
      display: none;
    }
  }
}
