.education {
  padding: 0rem 0rem 10rem;
  
  h1 {
    color: blanchedalmond;
    text-align: center;
    padding: 2rem;
    
  }
  .details {
    
    display: flex;
    flex-direction: row;
    padding: 0.8rem 3rem;
.images{
    
    display: flex;
    flex:1.5;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
    .text {
      flex: 4;
      
        
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    
      div {
        display: flex;
        flex-direction: column;
        
        justify-content: flex-start;
        align-items: flex-start;
        
        b,p,small{
          color: blanchedalmond;
          padding: 0.2rem 1rem;
          font-family: "Julius Sans One", sans-serif;
         
          flex-direction:column ;   
          display: flex;
      
        }
       
      }
    }
    .chart {
      flex: 2;
      align-items: flex-start;
      justify-content: flex-start;
       
    }
  }
  
}
 @media (max-width: 767px) {
 .chart {
 display: none;
}
}
