@import url('<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Megrim", cursive;
  background-color: black;
}
.container {
  width: 80%;
  margin: 2rem auto;
}


.main-header {
  #menuicon{
    display: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 2rem 10vw;
  color: blanchedalmond;
  z-index: 1;
  ul li a {
    text-decoration: none;
    color: blanchedalmond;
    text-transform: uppercase;
  }
  .nav-links {
    display: flex;
    list-style: none;
  }
  .nav-link {
    transition: transform 0.2s;
   
    a {
      margin: 0.1rem;
      padding: 1rem 2rem;
    }
  }
  .nav-link:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
    background-color: blanchedalmond;
    box-shadow: 0 0 5px blanchedalmond,
     0 0 25px blanchedalmond,
      0 0 50px blanchedalmond,
       0 0 200px blanchedalmond;
    a {
      color: black;
    }
  }
  .logo {
    position: relative;
    z-index: 1;
  }
  .menu-icon {
    padding: 26px 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  .menubutton {
    background-color: black;
    border-color: black;
    display: none;
  }
}
@media (max-width: 767px) {
  .main-header {
    
    #menuicon{
      display: block;
      z-index: 1;
    }
    .menubutton {
      background-color: black;
      border-color: black;
      display: flex;
      z-index: 1;
    }
    
    .menu-icon {
      display: block;
    }
    .nav-links{
      display: none;
    }
    .nav{
     
      position: absolute;

      top: 0;
      left: 0;
      opacity: 1;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      color: blanchedalmond;
      background: black;
      clip-path: circle(100% at center);
      button{
        //  background-color: black;
      border-color:black;
      background: black;
      font-size: 2rem;
      font-family: "Megrim", cursive;

      }
     
    }
    
  }
}
